# Instore Prices

This is a followup analysis after the v2 chat we had with Ankit, here we will add:

(i) More range of data
(ii) Traffic based on stores having or not the tag
(iii) Segment impact based on the number of stores with the instore price tag

## Config

In [26]:
# import matplotlib.pyplot as  plt
# import numpy as np
import pandas as pd
# import seaborn as sns
import sys
from scipy.stats import ttest_ind

sys.path.append('c:\\Users\\Jordi Cremades\\Documents\\Repos\\central-node')

from utils import query_engines

## [X] Identify top Groceries cities

In [4]:
q = query_engines.QueryEngines()

START_DATE = "'2023-12-01'"
END_DATE = "'2024-06-01'"
TOP = 100

params = [
    # dates
    {'name':'start_date', 'value': str(START_DATE)},
    {'name':'end_date', 'value': str(END_DATE)},
    {'name':'top', 'value': str(TOP)}
]

q.prepare_query(
    query_file='top_cities.sql', 
    params=params
)

df_top_cities = q.query_run_starburst(
    output_file='top_cities',
    load_from_output_file=None,
    print_query=True
)

df_top_cities

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/3e3ed5d214a6a0fb973498c48faacf10589b48b0f3588c79424b9ed5c1487073

   order_city_code order_country_code  n_orders
0              MAD                 ES    891772
1              BUC                 RO    834007
2              TBI                 GE    709015
3              CAS                 MA    687670
4              WAW                 PL    606077
..             ...                ...       ...
95             MBS                 KE     27803
96             CST                 ES     27771
97             HEN                 ES     27732
98             FES                 MA     27215
99             QYY                 PL     26891

[100 rows x 3 columns]

## [X] Stores that have instore prices enabled

In [5]:
q = query_engines.QueryEngines()

# parameters
city_codes_list = [f"'{city}'" for city in df_top_cities['order_city_code'].unique()]
list_of_cities = ', '.join(city_codes_list)

params = [
    {'name':'cities', 'value': list_of_cities},     
]

q.prepare_query(
    query_file="stores_with_instore_prices_enabled.sql", 
    params=params
)

df_stores_isp = q.query_run_starburst(
    output_file='stores_with_instore_prices_enabled',
    load_from_output_file=None,
    print_query=True
)

df_stores_isp

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/a126a94d98383ebbf0c60f7f0895ff81207a3de110103525dad7bae4c56e51c7

       country_code city_code  store_id  store_is_in_store_prices_enabled
0                ES       BCN        20                             False
1                ES       BCN        31                             False
2                ES       BCN        52                             False
3                ES       VAL        99                             False
4                ES       BCN       115                             False
...             ...       ...       ...                               ...
205008           ES       VAL    461278                             False
205009           IT       MIL    461543                             False
205010           ES       ALC    461552                             False
205011           PT       OPO    461559                             False
205012           RS       BEG    461580                             False

[205013 rows x 4 columns]

## [X] (i) More range of data

We now will try to run the whole historical dataset that Ankit wants with a parellelized query. With it, we could then fill up past data, and prove the effectiveness of the new notebook

In [60]:
q = query_engines.QueryEngines(reset_query_logs=True, reset_to_load=True)

params_file_name = 'raw_metrics_v3_part1'

df_historical_p1 = q.multiple_queries(
    query_file='raw_metrics_v3_part1.sql', 
    params_file_name=params_file_name, 
    parallelize=True,
    store_steps=True,
    output_file='historical_p1',
    sleep = 5
)

df_historical_p1

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/7b8a32b5e040efee5886500ea7c785434a073055c97145760ab405298e9a66b6

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/965e9e14de463d6264f3d13d542e8b1d776f41188edee5988f4a6e10c4e762e1

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/113568f1cd5ee33fc84235377dce8c468c41616209c9a69c38bc0f267f978052
###### SUCCESSFUL RUN 33% - Query May DONE.
###### SUCCESSFUL RUN 66% - Query Mar DONE.
###### SUCCESSFUL RUN 100% - Query Apr DONE.

,country,city,p_creation_date,ipg_variant,groceries_orders_count,groceries_ret_orders_count,stores_ret_orders_count,groceries_gmv_sum,param_label
0,PL,LOD,2024-05-16,InStorePrices,162,136,111,3159.358538,May
1,PL,KRA,2024-05-23,Control Group,797,652,546,19477.201022,May
2,ES,MAD,2024-05-01,InStorePrices,1108,818,525,25285.510000,May
3,RO,CLJ,2024-05-14,Control Group,600,500,381,14754.245092,May
4,ES,MAD,2024-05-24,Control Group,4242,3457,2654,111811.580000,May
...,...,...,...,...,...,...,...,...,...
27592,RS,QND,2024-04-24,InStorePrices,18,11,9,331.755580,Apr
27593,ES,BIL,2024-04-09,None,29,17,12,539.980000,Apr
27594,PL,SZY,2024-04-01,Control Group,17,10,5,173.665793,Apr
27595,ES,GIJ,2024-04-24,None,26,20,16,601.230000,Apr
27596,ES,CST,2024-04-24,InStorePrices,12,11,6,388.430000,Apr

In [61]:
q = query_engines.QueryEngines(reset_query_logs=True, reset_to_load=True)

params_file_name = 'raw_metrics_v3_part2'

df_historical_p2 = q.multiple_queries(
    query_file='raw_metrics_v3_part2.sql', 
    params_file_name=params_file_name, 
    parallelize=True,
    store_steps=True,
    output_file='historical_p2',
    sleep = 5
)

df_historical_p2

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/c99a0789dd6c1f3747a103f4d5945355be5e92540332ce055072afe4ed99e8d6

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/c58199bacef8716ad8c09d19baef30ce98ab0dc4337eeab0f6393863fa0dd340

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/6bdb3c2c7d8606730e8cb2c2b27b4a2d600384c3a6f15a033206bd1ada6c58c0
###### SUCCESSFUL RUN 33% - Query Mar DONE.
###### SUCCESSFUL RUN 66% - Query Apr DONE.
###### SUCCESSFUL RUN 100% - Query May DONE.

,country,city,p_creation_date,ipg_variant,total_session_count,total_customers,groceries_sw_session_count,param_label
0,MA,TNG,2024-03-03,None,7222,5398,NaN,Mar
1,ES,MAD,2024-03-02,Control Group,25859,17347,6412.0,Mar
2,MD,KSN,2024-03-02,InStorePrices,356,272,78.0,Mar
3,ES,ZAR,2024-03-02,InStorePrices,573,415,146.0,Mar
4,ES,SOM,2024-03-29,None,3455,2680,NaN,Mar
...,...,...,...,...,...,...,...,...
28077,KZ,NUR,2024-05-30,None,6764,4542,NaN,May
28078,MA,FES,2024-05-01,Control Group,1586,1168,252.0,May
28079,MA,TNG,2024-05-01,InStorePrices,1021,704,205.0,May
28080,None,MAD,2024-05-17,None,2,0,NaN,May
28081,None,VAL,2024-05-30,None,2,0,NaN,May

In [82]:
df_merged = pd.merge(df_historical_p1,df_historical_p2, on=['country','city','p_creation_date','ipg_variant'], how='left')

#fillna
df_merged['ipg_variant'].fillna('not_found', inplace=True)

#metrics
df_merged['perc_cvr'] = df_merged['groceries_orders_count']/df_merged['groceries_sw_session_count']
df_merged['perc_ret'] = df_merged['groceries_ret_orders_count']/df_merged['groceries_orders_count']
df_merged['aov'] = df_merged['groceries_gmv_sum']/df_merged['groceries_orders_count']
df_merged['groceries_session_per_customer']  = df_merged['groceries_sw_session_count']/df_merged['total_customers']

df_final = df_merged[[
    'country',
    'city',
    'p_creation_date',
    'ipg_variant',
    'groceries_orders_count',
    'groceries_sw_session_count',
    'groceries_gmv_sum',
    'groceries_ret_orders_count',
    'groceries_session_per_customer',
    'perc_cvr',
    'perc_ret',
    'aov',
    'total_session_count']]

df_final.to_csv('outputs/raw_results_v3.csv')

In [83]:
tmp_df = df_final.copy()

In [85]:
aggregated = tmp_df.groupby(['country', 'city', 'ipg_variant']).agg({
    'groceries_orders_count': 'sum',
    'total_session_count': 'sum',
    'groceries_orders_count': 'mean',
    'groceries_sw_session_count': 'mean',
    'groceries_gmv_sum': 'mean',
    'groceries_ret_orders_count': 'mean',
    'groceries_session_per_customer':'mean',
    'perc_cvr': 'mean',
    'perc_ret': 'mean',
    'aov': 'mean'
}).reset_index()

control_data = aggregated[aggregated['ipg_variant'] == 'Control Group']
variant_data = aggregated[aggregated['ipg_variant'] == 'InStorePrices']

merged_data = pd.merge(
    control_data, variant_data, 
    on=['country', 'city'], 
    suffixes=('_control', '_variant')
)

# Calculate total orders and total customers
merged_data['groceries_orders_count'] = merged_data['groceries_orders_count_control'] + merged_data['groceries_orders_count_variant']
merged_data['total_session_count'] = merged_data['total_session_count_control'] + merged_data['total_session_count_variant']

merged_data

,country,city,ipg_variant_control,groceries_orders_count_control,total_session_count_control,groceries_sw_session_count_control,groceries_gmv_sum_control,groceries_ret_orders_count_control,groceries_session_per_customer_control,perc_cvr_control,...,total_session_count_variant,groceries_sw_session_count_variant,groceries_gmv_sum_variant,groceries_ret_orders_count_variant,groceries_session_per_customer_variant,perc_cvr_variant,perc_ret_variant,aov_variant,groceries_orders_count,total_session_count
0,AM,YRV,Control Group,188.456522,228275,310.413043,3623.892857,147.163043,0.177451,0.613869,...,55811,76.086957,821.208575,34.565217,0.178016,0.586814,0.787221,18.702908,232.380435,284086
1,BG,SOF,Control Group,487.184783,454779,917.760870,12077.883272,371.293478,0.252028,0.533060,...,111829,234.076087,3054.885509,90.130435,0.260116,0.509372,0.762050,25.665419,605.771739,566608
2,CI,ABJ,Control Group,368.206522,260610,693.304348,4978.614001,304.913043,0.340977,0.531096,...,64567,177.445652,1371.670767,81.336957,0.357320,0.545595,0.842236,14.189205,464.793478,325177
3,CI,ABN,Control Group,884.532609,533292,1647.728261,11247.555947,735.858696,0.397485,0.541368,...,135382,427.945652,2961.043906,192.826087,0.406277,0.547348,0.832080,12.789157,1116.369565,668674
4,ES,ALC,Control Group,187.804348,220093,385.250000,4707.335543,145.293478,0.219820,0.506224,...,54880,100.119565,1210.403696,39.032609,0.226875,0.514577,0.780111,23.880152,237.358696,274973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,UA,ODE,Control Group,101.322581,40844,155.516129,1178.672919,79.887097,0.313372,0.653117,...,10729,41.322581,337.812797,24.903226,0.318030,0.742089,0.822560,11.229587,131.693548,51573
102,UA,ODS,Control Group,515.728261,324535,765.684783,6542.196115,410.478261,0.286186,0.678097,...,82935,188.771739,1516.124449,96.815217,0.277674,0.658066,0.788752,12.326118,638.858696,407470
103,UA,VNT,Control Group,231.108696,158927,397.826087,2578.956240,175.586957,0.297166,0.588368,...,39338,97.347826,631.904600,43.967391,0.292517,0.601462,0.764204,11.001030,288.695652,198265
104,UA,ZPR,Control Group,169.619565,98506,301.250000,1948.680546,131.358696,0.367901,0.569669,...,23274,75.967391,454.753318,30.358696,0.392122,0.537160,0.757882,11.315592,209.760870,121780
105,UG,KPA,Control Group,300.913043,298639,751.000000,3402.448061,223.467391,0.309062,0.400542,...,73241,185.054348,860.411009,57.315217,0.312600,0.415048,0.750135,11.248951,377.500000,371880

In [87]:
results = []

metrics = [
    'groceries_session_per_customer',
    'perc_cvr', 
    'perc_ret', 
    'aov'
]


for index, row in merged_data.iterrows():
    country = row['country']
    city = row['city']
    result_row = {'country': country, 'city': city}
    
    for metric in metrics:
        control_value = row[f'{metric}_control']
        variant_value = row[f'{metric}_variant']
        
        # Calculate increment
        increment = (variant_value - control_value) / control_value * 100 if control_value != 0 else None
        
        # Perform t-test
        control_sample = tmp_df[(tmp_df['country'] == country) & (tmp_df['city'] == city) & (tmp_df['ipg_variant'] == 'Control Group')][metric]
        variant_sample = tmp_df[(tmp_df['country'] == country) & (tmp_df['city'] == city) & (tmp_df['ipg_variant'] == 'InStorePrices')][metric]
        
        t_stat, p_value = ttest_ind(control_sample, variant_sample, equal_var=False)
        
        # Append to results
        result_row.update({
            f'{metric}_control': control_value,
            f'{metric}_variant': variant_value,
            f'increment_{metric}': increment,
            f'p_value_{metric}': p_value
        })
        
    # Add total orders and total customers to result_row
    result_row['groceries_orders_count'] = row['groceries_orders_count']
    result_row['total_session_count'] = row['total_session_count']
    
    results.append(result_row)

pd.DataFrame(results).to_csv('outputs/t_test_v3.csv')

## [X] (ii) Traffic to stores on having or not the tag

## [X] (iii) Segment impact based on the number of stores with the instore price tag